
@font-face{
  font-family: "Le-Murmure";
  src : url(le-murmure.otf)
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

nav {
  width : 100%;
  min-width: 190px;
  font-weight: 900;
  font-size: 20px;
}

div.colors{
  width : 12.5%;
  min-width: 190px;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #FB8500;
  border-radius: 12px;
}

div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  font-family: Le-Murmure;
  font-size: 50px;
}
div.logo div.logoRR{
  padding-top: 10px;
  font-size: 40px;
}

div.learn {
  display: flex;
  font-family: sans-serif;
  font-weight: lighter
}
.container {
  min-height: 100vh;
  font-family :Georgia, 'Times New Roman', Times, serif;
  max-width: 80vw;
  margin: auto;
}

.container h1,
h2 {
  margin: 23px 0;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form label {
  font-size: 25px;
}

.container form input[type="number"],
select,
label {
  font-size: 25px;
  width: 23vw;
  margin-bottom: 23px;
}

.btn {
  width: 144px;
  padding: 5px 8px;
  font-size: 20px;
  background: #fb8500;
  color: black;
  border-radius: 13px;
  cursor: pointer;
}

.output {
  display: none;
}

.output table {
  width: 50vw;
  text-align: center;
  border: 2px solid black;
  font-size: 20px;
}

.output table th {
  padding: 3px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    font-size: 14px;
  }

  nav ul li {
    margin: 5px 13px;
  }

  nav ul {
    justify-content: center;
  }

  .container {
    max-width: 95vw;
  }

  .container form input[type="number"],
  select,
  label {
    width: 80vw;
  }
}